name: unniks

on:
  push:
    branches: [ main ]

jobs:
  name-of-job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world
        run: |
          mkdir masterfolder && mkdir masterfolder/subfolder
      - name: Checkout private tools
        uses: actions/checkout@v3
        with:
         path: masterfolder/subfolder
      - name: Hello world
        run: |
          ls masterfolder/subfolder
          tar -czvf masterfolder.tar.gz masterfolder/subfolder
          ls 
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
         name: masterfolder
         path: masterfolder.zip
    
        
          
