name: unniks

on:
  push:
    branches: [ main ]

jobs:
  name-of-job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world
        run: |
          mkdir masterfolder && mkdir masterfolder/subfolder
